.timeHR{
    width: 100%;
    height: 2px;
    color: brown;
    background-color: white;
}
.leftarrow{
    top: -24px;
    background: white;
    position: absolute;
    width: 50px;
    border-radius: 50%;
    border: none;
    left: -2px;
}
.rightarrow{
    top: -24px;
    background: white;
    position: absolute;
    width: 50px;
    border-radius: 50%;
    border: none;
    right: -2px;
}
.dot{
    width: 26px;
    height: 26px;
    position: relative;
    top: -11px;
    border-radius: 50%;
    background-color: white;
}
.green{
    background-color: #44f144;
}

.card_a{
    width: 210px;
    padding: 20px;
    border-radius: 10px;
    background-color: #10172b;
    position: absolute;
    top: 40px;
    left: -30px;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.card_b{
    width: 210px;
    padding: 20px;
    border-radius: 10px;
    background-color: #10172b;
    position: absolute;
    bottom: 40px;
    right: -33px;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
li{
    font-weight: 500;
}
.para_para{
    letter-spacing: 7px;
    font-size: 34px;
    padding-bottom: 120px;
    font-weight: 500;
}
.up-a{
    width: 100%;
    position: absolute;
    top: 28px;
}
.up-b{
    width: 100%;
    position: absolute;
    bottom: 25px;
}
.over{
    width: 100%;
    overflow-x: scroll;
   
}
.over::-webkit-scrollbar {
    display: none;
}
